/* Giving our body a background color */
body {
    background: lightgray;
  }

.navbar {
    background: #f1f1f1;
}

/* Giving our navbar some padding and a background color */
.navbar-brand {
    padding: 15px;
    background: teal;
    font-weight: 500;
    font-size: 20;
    color: white !important;
  }

a:link {
    text-decoration: none; 
}


h1 {
    color: teal;
}

h4 {
    color: teal;
}

.col-md-12 {
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    
}

/* .image-container {
    align-content: center;
} */

.col-md-7 {
    padding: 25px;
    margin-top: 20px;
    margin-right: 2px;
    background-color: white;
    
}

.col-md-10 {
    padding: 25px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: white;
    
}

.col-md-4 {
    padding: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 2px;
    background-color: white;
}

a:hover {
    background: #dadada;
}

.compare-charts {
    background-color:white; 
}

.compare-charts a h4 {
    text-align: center;
}

.compare-charts a img {
    display: inline-block;
}



